<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>labelTitle</key>
		<string>校务互动</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>宝宝每一天</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>家校联系册</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>宝宝在线</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>平安校园</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>家庭作业</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>备忘录</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>意见反馈</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>应用推荐</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>活动投票</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
	<dict>
		<key>labelTitle</key>
		<string>校园评价</string>
		<key>ImageURL</key>
		<string>http://e.hiphotos.baidu.com/image/w%3D2048/sign=5454ab5e0bf79052ef1f403e38cbd5ca/c75c10385343fbf2c6e17e6eb27eca8064388faa.jpg</string>
		<key>placeholderImageURL</key>
		<string>http://hiweibo-common.stor.sinaapp.com/user_photo_34.png</string>
	</dict>
</array>
</plist>
